# ─────────────────────────────────────────────
#  WAZALINK — Variables d'environnement
# ─────────────────────────────────────────────

# Serveur
PORT=
NODE_ENV=

# MongoDB Atlas
MONGODB_URI=

# Meta / WhatsApp Cloud API
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_ACCESS_TOKEN=

# App
APP_URL=
FRONTEND_URL=
